{{- if .Values.rhtpa.objectStorage.enabled }}
---
# This ConfigMap will be used to reference the S3 credentials from the OBC
# The OBC automatically creates a secret with the S3 credentials
# Format: <obc-name> generates secret <obc-name>
apiVersion: v1
kind: ConfigMap
metadata:
  name: rhtpa-s3-config
  namespace: {{ .Values.rhtpa.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "8"  # After OBC is created
data:
  # The OBC creates a secret with these keys automatically
  # AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, BUCKET_HOST, BUCKET_NAME, BUCKET_PORT
  s3-secret-name: {{ .Values.rhtpa.objectStorage.objectBucketClaim.name }}
{{- end }}

