{{- range .Values.clusterGroup.managedClusterGroups }}
{{- $group := . }}
---
apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: hub-gitops-ca-{{ $group.name }}-policy
  namespace: open-cluster-management
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/compare-options: IgnoreExtraneous
spec:
  remediationAction: enforce
  disabled: false
  policy-templates:
    - objectDefinition:
        apiVersion: policy.open-cluster-management.io/v1
        kind: ConfigurationPolicy
        metadata:
          name: hub-gitops-ca-{{ $group.name }}-config
        spec:
          remediationAction: enforce
          severity: medium
          namespaceSelector:
            include:
              - default
          object-templates:
            - complianceType: mustonlyhave
              objectDefinition:
                kind: ConfigMap
                apiVersion: v1
                metadata:
                  name: trusted-hub-bundle
                  namespace: openshift-gitops
                data:
                  hub-kube-root-ca.crt: |
                    {{ `{{hub fromConfigMap "" "kube-root-ca.crt" "ca.crt" | autoindent hub}}` }}
                  hub-openshift-service-ca.crt: |
                    {{ `{{hub fromConfigMap "" "openshift-service-ca.crt" "service-ca.crt" | autoindent hub}}` }}
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: hub-gitops-ca-{{ $group.name }}-placement-binding
  namespace: open-cluster-management
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
placementRef:
  name: hub-gitops-ca-{{ $group.name }}-placement
  kind: PlacementRule
  apiGroup: apps.open-cluster-management.io
subjects:
  - name: hub-gitops-ca-{{ $group.name }}-policy
    kind: Policy
    apiGroup: policy.open-cluster-management.io
---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: hub-gitops-ca-{{ $group.name }}-placement
  namespace: open-cluster-management
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  clusterConditions:
    - status: 'True'
      type: ManagedClusterConditionAvailable
  clusterSelector:
    matchExpressions:
    - key: local-cluster
      operator: NotIn
      values:
      - "true"
    matchLabels:
      clusterGroup: {{ $group.name }}
{{- end }}
