global:
  localClusterDomain: apps.example.com
  secretStore:
    kind: ClusterSecretStore
    name: vault-backend
keycloak:
  defaultConfig: true
  defaultRealm:
    clients:
    - clientId: qtodo-app
      enabled: true
      name: qtodo
      protocol: openid-connect
      publicClient: false
      redirectUris:
      - '*'
      secret: ${QTODO_CLIENT_SECRET}
      standardFlowEnabled: true
      webOrigins:
      - +
    - clientId: trusted-artifact-signer
      enabled: true
      name: Red Hat Trusted Artifact Signer Client
      protocol: openid-connect
      publicClient: true
      redirectUris:
      - '*'
      - 'urn:ietf:wg:oauth:2.0:oob'
      - 'http://localhost:*/auth/callback'
      directAccessGrantsEnabled: true
      standardFlowEnabled: true
      implicitFlowEnabled: false
      webOrigins:
      - +
      attributes:
        oauth2.device.authorization.grant.enabled: 'true'
      protocolMappers:
      - name: audience-mapper
        protocol: openid-connect
        protocolMapper: oidc-audience-mapper
        config:
          included.client.audience: trusted-artifact-signer
          access.token.claim: 'true'
          id.token.claim: 'false'
    displayName: ZTVP Realm
    enabled: true
    realm: ztvp
    registrationAllowed: false
    roles:
      realm:
      - description: QTodo App Administrator
        name: qtodo-admin
      - description: Read-only access
        name: viewer
    users:
    - createdTimestamp: 1
      credentials:
      - temporary: true
        type: password
        value: ${QTODO_ADMIN_PASSWORD}
      email: qtodo-admin@example.com
      emailVerified: true
      enabled: true
      firstName: QTodo
      lastName: Admin
      realmRoles:
      - qtodo-admin
      requiredActions:
      - UPDATE_PASSWORD
      username: qtodo-admin
    - createdTimestamp: 1
      credentials:
      - temporary: true
        type: password
        value: ${QTODO_USER1_PASSWORD}
      email: qtodo-user1@example.com
      emailVerified: true
      enabled: true
      firstName: QTodo
      lastName: User-1
      realmRoles:
      - viewer
      requiredActions:
      - UPDATE_PASSWORD
      username: qtodo-user1
    - createdTimestamp: 1
      credentials:
      - temporary: false
        type: password
        value: ${RHTAS_USER_PASSWORD}
      email: rhtas-user@example.com
      emailVerified: true
      enabled: true
      firstName: RHTAS
      lastName: Signer
      realmRoles:
      - viewer
      username: rhtas-user
  ingress:
    enabled: true
    service: keycloak-service-trusted
    termination: reencrypt
    hostname: ""
  name: keycloak
  postgresqlDb:
    database: keycloak
    passwordVaultKey: secret/data/global/keycloak
    secretName: postgresql-db
    username: keycloak
  realms: []
  tls:
    secret: keycloak-tls
    serviceServing: true
  users:
    passwordVaultKey: secret/data/global/keycloak-users
    secretName: keycloak-users
