global:
  localClusterDomain: apps.example.com
  secretStore:
    kind: ClusterSecretStore
    name: vault-backend
keycloak:
  defaultConfig: true
  defaultRealm:
    clientScopes:
    - attributes:
        display.on.consent.screen: 'false'
        include.in.token.scope: 'false'
      description: OpenID Connect basic scope
      name: basic
      protocol: openid-connect
      protocolMappers:
      - config:
          access.token.claim: 'true'
          introspection.token.claim: 'true'
        consentRequired: false
        name: sub
        protocol: openid-connect
        protocolMapper: oidc-sub-mapper
    - attributes:
        consent.screen.text: ${emailScopeConsentText}
        display.on.consent.screen: 'true'
        include.in.token.scope: 'true'
      description: OpenID Connect email scope
      name: email
      protocol: openid-connect
      protocolMappers:
      - config:
          access.token.claim: 'true'
          claim.name: email
          id.token.claim: 'true'
          jsonType.label: String
          user.attribute: email
          userinfo.token.claim: 'true'
        consentRequired: false
        name: email
        protocol: openid-connect
        protocolMapper: oidc-usermodel-attribute-mapper
      - config:
          access.token.claim: 'true'
          claim.name: email_verified
          id.token.claim: 'true'
          jsonType.label: boolean
          user.attribute: emailVerified
          userinfo.token.claim: 'true'
        consentRequired: false
        name: email verified
        protocol: openid-connect
        protocolMapper: oidc-usermodel-attribute-mapper
    - attributes:
        consent.screen.text: ${profileScopeConsentText}
        display.on.consent.screen: 'true'
        include.in.token.scope: 'true'
      description: OpenID Connect profile scope
      name: profile
      protocol: openid-connect
      protocolMappers:
      - config:
          access.token.claim: 'true'
          claim.name: preferred_username
          id.token.claim: 'true'
          jsonType.label: String
          user.attribute: username
          userinfo.token.claim: 'true'
        consentRequired: false
        name: username
        protocol: openid-connect
        protocolMapper: oidc-usermodel-attribute-mapper
      - config:
          access.token.claim: 'true'
          id.token.claim: 'true'
          userinfo.token.claim: 'true'
        consentRequired: false
        name: full name
        protocol: openid-connect
        protocolMapper: oidc-full-name-mapper
    - attributes:
        consent.screen.text: ${rolesScopeConsentText}
        display.on.consent.screen: 'true'
        include.in.token.scope: 'false'
      description: OpenID Connect roles scope
      name: roles
      protocol: openid-connect
      protocolMappers:
      - config:
          access.token.claim: 'true'
          claim.name: realm_access.roles
          jsonType.label: String
          multivalued: 'true'
          user.attribute: foo
        consentRequired: false
        name: realm roles
        protocol: openid-connect
        protocolMapper: oidc-usermodel-realm-role-mapper
      - consentRequired: false
        name: audience resolve
        protocol: openid-connect
        protocolMapper: oidc-audience-resolve-mapper
    - attributes:
        display.on.consent.screen: 'false'
        include.in.token.scope: 'false'
      description: OpenID Connect web origins scope
      name: web-origins
      protocol: openid-connect
      protocolMappers:
      - config:
          access.token.claim: 'true'
        consentRequired: false
        name: allowed web origins
        protocol: openid-connect
        protocolMapper: oidc-allowed-origins-mapper
    - attributes:
        display.on.consent.screen: 'false'
        include.in.token.scope: 'true'
      description: Permission to create documents
      name: create:document
      protocol: openid-connect
    - attributes:
        display.on.consent.screen: 'false'
        include.in.token.scope: 'true'
      description: Permission to read documents
      name: read:document
      protocol: openid-connect
    - attributes:
        display.on.consent.screen: 'false'
        include.in.token.scope: 'true'
      description: Permission to update documents
      name: update:document
      protocol: openid-connect
    - attributes:
        display.on.consent.screen: 'false'
        include.in.token.scope: 'true'
      description: Permission to delete documents
      name: delete:document
      protocol: openid-connect
    clients:
    - clientId: qtodo-app
      enabled: true
      name: qtodo
      protocol: openid-connect
      publicClient: false
      redirectUris:
      - '*'
      secret: ${QTODO_CLIENT_SECRET}
      standardFlowEnabled: true
      webOrigins:
      - +
    - attributes:
        oauth2.device.authorization.grant.enabled: 'true'
      clientId: trusted-artifact-signer
      directAccessGrantsEnabled: true
      enabled: true
      implicitFlowEnabled: false
      name: Red Hat Trusted Artifact Signer Client
      protocol: openid-connect
      protocolMappers:
      - config:
          access.token.claim: 'true'
          id.token.claim: 'false'
          included.client.audience: trusted-artifact-signer
        name: audience-mapper
        protocol: openid-connect
        protocolMapper: oidc-audience-mapper
      - config:
          access.token.claim: 'true'
          claim.name: email_verified
          claim.value: 'true'
          id.token.claim: 'true'
          jsonType.label: boolean
          userinfo.token.claim: 'false'
        consentRequired: false
        name: email-mapper
        protocol: openid-connect
        protocolMapper: oidc-hardcoded-claim-mapper
      publicClient: true
      redirectUris:
      - '*'
      - urn:ietf:wg:oauth:2.0:oob
      - http://localhost:*/auth/callback
      standardFlowEnabled: true
      webOrigins:
      - +
    - attributes:
        access.token.lifespan: '300'
        post.logout.redirect.uris: +
      clientId: rhtpa-cli
      defaultClientScopes:
      - basic
      - email
      - profile
      - roles
      - web-origins
      - create:document
      - read:document
      - update:document
      - delete:document
      directAccessGrantsEnabled: false
      enabled: true
      fullScopeAllowed: true
      implicitFlowEnabled: false
      name: RHTPA CLI Client
      optionalClientScopes:
      - address
      - microprofile-jwt
      - offline_access
      - phone
      protocol: openid-connect
      publicClient: false
      secret: ${RHTPA_CLI_SECRET}
      serviceAccountsEnabled: true
      standardFlowEnabled: false
    - attributes:
        access.token.lifespan: '300'
        post.logout.redirect.uris: +
      clientId: rhtpa-frontend
      defaultClientScopes:
      - basic
      - email
      - profile
      - roles
      - web-origins
      - create:document
      - read:document
      - update:document
      - delete:document
      directAccessGrantsEnabled: false
      enabled: true
      fullScopeAllowed: true
      implicitFlowEnabled: true
      name: RHTPA Frontend Client
      optionalClientScopes:
      - address
      - microprofile-jwt
      - offline_access
      - phone
      protocol: openid-connect
      publicClient: true
      redirectUris:
      - '*'
      serviceAccountsEnabled: false
      standardFlowEnabled: true
      webOrigins:
      - '*'
    defaultDefaultClientScopes:
    - basic
    - email
    - profile
    - roles
    - web-origins
    displayName: ZTVP Realm
    enabled: true
    realm: ztvp
    registrationAllowed: false
    roles:
      realm:
      - description: QTodo App Administrator
        name: qtodo-admin
      - description: Read-only access
        name: viewer
      - description: RHTPA SBOM Creator
        name: create:sbom
      - description: RHTPA Document Creator
        name: create:document
    users:
    - createdTimestamp: 1
      credentials:
      - temporary: true
        type: password
        value: ${QTODO_ADMIN_PASSWORD}
      email: qtodo-admin@example.com
      emailVerified: true
      enabled: true
      firstName: QTodo
      lastName: Admin
      realmRoles:
      - qtodo-admin
      requiredActions:
      - UPDATE_PASSWORD
      username: qtodo-admin
    - createdTimestamp: 1
      credentials:
      - temporary: true
        type: password
        value: ${QTODO_USER1_PASSWORD}
      email: qtodo-user1@example.com
      emailVerified: true
      enabled: true
      firstName: QTodo
      lastName: User-1
      realmRoles:
      - viewer
      requiredActions:
      - UPDATE_PASSWORD
      username: qtodo-user1
    - createdTimestamp: 1
      credentials:
      - temporary: false
        type: password
        value: ${RHTAS_USER_PASSWORD}
      email: rhtas-user@example.com
      emailVerified: true
      enabled: true
      firstName: RHTAS
      lastName: Signer
      realmRoles:
      - viewer
      username: rhtas-user
    - createdTimestamp: 1
      credentials:
      - temporary: false
        type: password
        value: ${RHTPA_USER_PASSWORD}
      email: rhtpa-user@example.com
      emailVerified: true
      enabled: true
      firstName: RHTPA
      lastName: User
      realmRoles:
      - viewer
      - create:sbom
      - create:document
      username: rhtpa-user
  ingress:
    enabled: true
    hostname: keycloak-customized.apps.qe-zt-hub-aws-22398.aws.validatedpatterns.io
    service: keycloak-service-trusted
    termination: reencrypt
  name: keycloak
  postgresqlDb:
    database: keycloak
    passwordVaultKey: secret/data/global/keycloak
    secretName: postgresql-db
    username: keycloak
  realms: []
  tls:
    secret: keycloak-tls
    serviceServing: true
  users:
    passwordVaultKey: secret/data/global/keycloak-users
    secretName: keycloak-users
