global:
  localClusterDomain: apps.example.com
  secretStore:
    kind: ClusterSecretStore
    name: vault-backend
keycloak:
  adminUser:
    enabled: true
    username: admin
    passwordVaultKey: secret/data/global/keycloak
    secretName: keycloak-admin-user
  defaultConfig: true
  defaultRealm:
    clients:
    - clientId: qtodo-app
      enabled: true
      name: qtodo
      protocol: openid-connect
      publicClient: false
      redirectUris:
      - '*'
      secret: ${QTODO_CLIENT_SECRET}
      standardFlowEnabled: true
      webOrigins:
      - +
    - clientId: trusted-artifact-signer
      enabled: true
      name: Red Hat Trusted Artifact Signer Client
      protocol: openid-connect
      publicClient: true
      redirectUris:
      - '*'
      - 'urn:ietf:wg:oauth:2.0:oob'
      - 'http://localhost:*/auth/callback'
      directAccessGrantsEnabled: true
      standardFlowEnabled: true
      implicitFlowEnabled: false
      webOrigins:
      - +
      attributes:
        oauth2.device.authorization.grant.enabled: 'true'
      protocolMappers:
      - name: audience-mapper
        protocol: openid-connect
        protocolMapper: oidc-audience-mapper
        config:
          included.client.audience: trusted-artifact-signer
          access.token.claim: 'true'
          id.token.claim: 'false'
      - name: email-mapper
        protocol: openid-connect
        protocolMapper: oidc-hardcoded-claim-mapper
        consentRequired: false
        config:
          claim.name: email_verified
          claim.value: 'true'
          jsonType.label: boolean
          access.token.claim: 'true'
          id.token.claim: 'true'
          userinfo.token.claim: 'false'
    # RHTPA CLI Client - matches Trustify 'cli' client configuration
    # Reference: https://github.com/guacsec/trustify-helm-charts/blob/main/charts/trustify-infrastructure/templates/keycloak/010-ConfigMap.yaml
    - clientId: rhtpa-cli
      enabled: true
      name: RHTPA CLI Client
      protocol: openid-connect
      publicClient: false
      secret: ${RHTPA_CLI_SECRET}
      directAccessGrantsEnabled: false
      standardFlowEnabled: false
      implicitFlowEnabled: false
      serviceAccountsEnabled: true
      fullScopeAllowed: true
      defaultClientScopes:
      - basic
      - email
      - profile
      - roles
      - web-origins
      - create:document
      - read:document
      - update:document
      - delete:document
      optionalClientScopes:
      - address
      - microprofile-jwt
      - offline_access
      - phone
      attributes:
        access.token.lifespan: '300'
        post.logout.redirect.uris: '+'
    # RHTPA Frontend Client - matches Trustify 'frontend' client configuration
    # Reference: https://github.com/guacsec/trustify-helm-charts/blob/main/charts/trustify-infrastructure/templates/keycloak/010-ConfigMap.yaml
    - clientId: rhtpa-frontend
      enabled: true
      name: RHTPA Frontend Client
      protocol: openid-connect
      publicClient: true
      redirectUris:
      - '*'
      directAccessGrantsEnabled: false
      standardFlowEnabled: true
      implicitFlowEnabled: true
      serviceAccountsEnabled: false
      webOrigins:
      - '*'
      fullScopeAllowed: true
      defaultClientScopes:
      - basic
      - email
      - profile
      - roles
      - web-origins
      - create:document
      - read:document
      - update:document
      - delete:document
      optionalClientScopes:
      - address
      - microprofile-jwt
      - offline_access
      - phone
      attributes:
        access.token.lifespan: '300'
        post.logout.redirect.uris: '+'
    displayName: ZTVP Realm
    enabled: true
    realm: ztvp
    registrationAllowed: false
    # Client scopes
    # Note: We must define 'basic' scope with 'sub' mapper for OIDC compliance
    # The 'sub' claim is required by RHTPA for user identification
    clientScopes:
    # Basic scope - required for 'sub' claim in tokens
    # Standard OIDC scopes required by Trustify/RHTPA
    # Reference: https://github.com/mrrajan/trustify/blob/doc_rhbk_operator/docs/book/modules/admin/pages/infrastructure.adoc
    - name: basic
      description: OpenID Connect basic scope
      protocol: openid-connect
      attributes:
        include.in.token.scope: 'false'
        display.on.consent.screen: 'false'
      protocolMappers:
      - name: sub
        protocol: openid-connect
        protocolMapper: oidc-sub-mapper
        consentRequired: false
        config:
          introspection.token.claim: 'true'
          access.token.claim: 'true'
    - name: email
      description: OpenID Connect email scope
      protocol: openid-connect
      attributes:
        include.in.token.scope: 'true'
        display.on.consent.screen: 'true'
        consent.screen.text: '${emailScopeConsentText}'
      protocolMappers:
      - name: email
        protocol: openid-connect
        protocolMapper: oidc-usermodel-attribute-mapper
        consentRequired: false
        config:
          userinfo.token.claim: 'true'
          user.attribute: email
          id.token.claim: 'true'
          access.token.claim: 'true'
          claim.name: email
          jsonType.label: String
      - name: email verified
        protocol: openid-connect
        protocolMapper: oidc-usermodel-attribute-mapper
        consentRequired: false
        config:
          userinfo.token.claim: 'true'
          user.attribute: emailVerified
          id.token.claim: 'true'
          access.token.claim: 'true'
          claim.name: email_verified
          jsonType.label: boolean
    - name: profile
      description: OpenID Connect profile scope
      protocol: openid-connect
      attributes:
        include.in.token.scope: 'true'
        display.on.consent.screen: 'true'
        consent.screen.text: '${profileScopeConsentText}'
      protocolMappers:
      - name: username
        protocol: openid-connect
        protocolMapper: oidc-usermodel-attribute-mapper
        consentRequired: false
        config:
          userinfo.token.claim: 'true'
          user.attribute: username
          id.token.claim: 'true'
          access.token.claim: 'true'
          claim.name: preferred_username
          jsonType.label: String
      - name: full name
        protocol: openid-connect
        protocolMapper: oidc-full-name-mapper
        consentRequired: false
        config:
          id.token.claim: 'true'
          access.token.claim: 'true'
          userinfo.token.claim: 'true'
    - name: roles
      description: OpenID Connect roles scope
      protocol: openid-connect
      attributes:
        include.in.token.scope: 'false'
        display.on.consent.screen: 'true'
        consent.screen.text: '${rolesScopeConsentText}'
      protocolMappers:
      - name: realm roles
        protocol: openid-connect
        protocolMapper: oidc-usermodel-realm-role-mapper
        consentRequired: false
        config:
          multivalued: 'true'
          user.attribute: foo
          access.token.claim: 'true'
          claim.name: realm_access.roles
          jsonType.label: String
      - name: audience resolve
        protocol: openid-connect
        protocolMapper: oidc-audience-resolve-mapper
        consentRequired: false
    - name: web-origins
      description: OpenID Connect web origins scope
      protocol: openid-connect
      attributes:
        include.in.token.scope: 'false'
        display.on.consent.screen: 'false'
      protocolMappers:
      - name: allowed web origins
        protocol: openid-connect
        protocolMapper: oidc-allowed-origins-mapper
        consentRequired: false
        config:
          access.token.claim: 'true'
    # RHTPA document permission scopes
    - name: create:document
      description: Permission to create documents
      protocol: openid-connect
      attributes:
        include.in.token.scope: 'true'
        display.on.consent.screen: 'false'
    - name: read:document
      description: Permission to read documents
      protocol: openid-connect
      attributes:
        include.in.token.scope: 'true'
        display.on.consent.screen: 'false'
    - name: update:document
      description: Permission to update documents
      protocol: openid-connect
      attributes:
        include.in.token.scope: 'true'
        display.on.consent.screen: 'false'
    - name: delete:document
      description: Permission to delete documents
      protocol: openid-connect
      attributes:
        include.in.token.scope: 'true'
        display.on.consent.screen: 'false'
    # Set default client scopes for the realm (applied to all new clients)
    defaultDefaultClientScopes:
    - basic
    - email
    - profile
    - roles
    - web-origins
    roles:
      realm:
      - description: QTodo App Administrator
        name: qtodo-admin
      - description: Read-only access
        name: viewer
      - description: RHTPA SBOM Creator
        name: create:sbom
      - description: RHTPA Document Creator
        name: create:document
    users:
    - createdTimestamp: 1
      credentials:
      - temporary: true
        type: password
        value: ${QTODO_ADMIN_PASSWORD}
      email: qtodo-admin@example.com
      emailVerified: true
      enabled: true
      firstName: QTodo
      lastName: Admin
      realmRoles:
      - qtodo-admin
      requiredActions:
      - UPDATE_PASSWORD
      username: qtodo-admin
    - createdTimestamp: 1
      credentials:
      - temporary: true
        type: password
        value: ${QTODO_USER1_PASSWORD}
      email: qtodo-user1@example.com
      emailVerified: true
      enabled: true
      firstName: QTodo
      lastName: User-1
      realmRoles:
      - viewer
      requiredActions:
      - UPDATE_PASSWORD
      username: qtodo-user1
    - createdTimestamp: 1
      credentials:
      - temporary: false
        type: password
        value: ${RHTAS_USER_PASSWORD}
      email: rhtas-user@example.com
      emailVerified: true
      enabled: true
      firstName: RHTAS
      lastName: Signer
      realmRoles:
      - viewer
      username: rhtas-user
    - createdTimestamp: 1
      credentials:
      - temporary: false
        type: password
        value: ${RHTPA_USER_PASSWORD}
      email: rhtpa-user@example.com
      emailVerified: true
      enabled: true
      firstName: RHTPA
      lastName: User
      realmRoles:
      - viewer
      - create:sbom
      - create:document
      username: rhtpa-user
  ingress:
    enabled: true
    service: keycloak-service-trusted
    termination: reencrypt
    hostname: ""
  name: keycloak
  postgresqlDb:
    database: keycloak
    passwordVaultKey: secret/data/global/keycloak
    secretName: postgresql-db
    username: keycloak
  realms: []
  tls:
    secret: keycloak-tls
    serviceServing: true
  users:
    passwordVaultKey: secret/data/global/keycloak-users
    secretName: keycloak-users
