{{- if .Values.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ztvp-certificates.fullname" . }}-script
  namespace: {{ .Values.global.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-9"
  labels:
    {{- include "ztvp-certificates.labels" . | nindent 4 }}
    app.kubernetes.io/component: extraction-script
data:
  extract-certificates.sh: |
    {{- tpl (.Files.Get "files/extract-certificates.sh.tpl") . | nindent 4 }}
{{- end }}

